@font-face {
  font-family: 'Roboto Mono Variable', monospace;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
}

html {
  background-color: #fbfefb;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 90ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Roboto Mono Variable', monospace;
  margin: 1rem 0;
  font-size: 2.5rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* nav styles */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #fbfefb;
  display: none;
  margin: 0;
}


.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #fbfefb;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: flex;
    position: static;
    width: auto;
    background: none;
    background-color: #fbfefb;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
    padding-top:28px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    /* Images */
  .center {
    width: 550px;
    max-width: 100%;   /* never exceed container width */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .center02 {
    width: 250px;
    max-width: 100%;  /* responsive */
    height: auto;     /* keep aspect ratio */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Optional: make images smaller on narrow screens */
  @media (max-width: 600px) {
    .center {
      width: 90vw;    /* 90% of viewport width */
    }

    .center02 {
      width: 70vw;
    }
  }
}