---
import '../styles/global.css';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Lyndon Saffery</h1>
		<h2>About</h2>
		<p>This is a test page for my future blog page</p>
		<p>Stay tuned!</p>
	</body>
</html>
