---
import '@fontsource-variable/roboto-mono';
---
<body>
  <div class="nav-links" style="font-family: 'Roboto Mono Variable', monospace;">
    <div class="row">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
    </div>
  </div>
</body>